In [2]:
import pandas as pd

In [3]:

a=pd.read_csv("kar.csv",header=None)
a

   0  1  2  3     4
0  1  5  2  3   cat
1  2  7  8  5   dog

In [4]:
f=open("kar.csv","r")
print(f.read())

1, 5, 2, 3, cat
2, 7, 8, 5,dog

In [5]:
d=pd.DataFrame({'regno.':["225","211","249","236"],'name':["srima","hyma","jhansi","Akshaya"]})

In [6]:
d

  regno.     name
0    225    srima
1    211     hyma
2    249   jhansi
3    236  Akshaya

In [20]:
a={'blue':[2,3,1],'white':[3,2,4],'red':[6,8,2],'toys':['horse','duck','mouse']}
df=pd.DataFrame(a)
print(df)
df.to_csv('toys.txt')

   blue  white  red   toys
0     2      3    6  horse
1     3      2    8   duck
2     1      4    2  mouse

In [22]:
pd.read_table('toys.txt')

  ,blue,white,red,toys
0        0,2,3,6,horse
1         1,3,2,8,duck
2        2,1,4,2,mouse

In [7]:
d.to_csv("kar1.csv")

In [8]:
a={'blue':[2,3,1],'white':[3,2,4],'red':[6,8,2],'toys':['horse','duck','mouse']}
df=pd.DataFrame(a)
print(df)
df.to_json('toys.json')

   blue  white  red   toys
0     2      3    6  horse
1     3      2    8   duck
2     1      4    2  mouse

In [9]:
pd.read_json('toys.json')

   blue  white  red   toys
0     2      3    6  horse
1     3      2    8   duck
2     1      4    2  mouse

In [11]:
a={'blue':[2,3,1],'white':[3,2,4],'red':[6,8,2],'toys':['horse','duck','mouse']}
df=pd.DataFrame(a)
print(df)
df.to_excel('toys.xlsx')

   blue  white  red   toys
0     2      3    6  horse
1     3      2    8   duck
2     1      4    2  mouse

In [12]:
pd.read_excel('toys.xlsx')

   Unnamed: 0  blue  white  red   toys
0           0     2      3    6  horse
1           1     3      2    8   duck
2           2     1      4    2  mouse

In [13]:
a={'blue':[2,3,1],'white':[3,2,4],'red':[6,8,2],'toys':['horse','duck','mouse']}
df=pd.DataFrame(a)
print(df)
df.to_html('toys.html')

   blue  white  red   toys
0     2      3    6  horse
1     3      2    8   duck
2     1      4    2  mouse

In [14]:
pd.read_html('toys.html')

[   Unnamed: 0  blue  white  red   toys
 0           0     2      3    6  horse
 1           1     3      2    8   duck
 2           2     1      4    2  mouse]

In [13]:
a={'blue':[2,3,1],'white':[3,2,4],'red':[6,8,2],'toys':['horse','duck','mouse']}
df=pd.DataFrame(a)
print(df)
df.to_html('toys.xml')

   blue  white  red   toys
0     2      3    6  horse
1     3      2    8   duck
2     1      4    2  mouse

In [19]:
df1=pd.read_excel('Book1.xlsx',sheet_name=0)
df2=pd.read_excel('Book1.xlsx',sheet_name=1)
print(df1)
print(df2)

   white   red  blue   animal
0       1    2      5     pig
1       8    4      7  donkey
2       2    4      6     dog
      name  reg          ph
0  karthik  237   911******
1    srima  225  949*******
2  akshaya  236   80*******

In [27]:
from lxml import objectify

In [29]:
xml=objectify.parse('fgt.xml')
xml