In [32]:
import pandas as pd
import numpy as np

In [33]:
df=pd.read_csv("exacsv.csv")
df

   white  red  blue  green animal
0      1  5.0   2.0      3    cat
1      2  7.0   8.0      5    dog
2      3  NaN   6.0      7  horse
3      4  5.0   6.0      7   duck
4      9  NaN   NaN      6  mouse
5      9  8.0   7.0      6  mouse
6      9  8.0   7.0      6  mouse

In [34]:
a=df['blue'].isnull().sum()
a

1

In [35]:
b=df['blue'].median()
b

6.5

In [46]:
df['blue'].fillna(b)

0    2.0
1    8.0
2    6.0
3    6.0
4    6.5
5    7.0
6    7.0
Name: blue, dtype: float64

In [55]:
d=df['blue'].groupby(df['animal']).mean()
d

animal
cat      2.0
dog      8.0
duck     6.0
horse    6.0
mouse    7.0
Name: blue, dtype: float64

In [57]:
X,Y=np.arange(3),np.arange(3)
xy=np.array([[(x,y)for x in X] for y in Y])
xy

array([[[0, 0],
        [1, 0],
        [2, 0]],

       [[0, 1],
        [1, 1],
        [2, 1]],

       [[0, 2],
        [1, 2],
        [2, 2]]])

In [67]:
X

array([0, 1, 2])

In [68]:
Y

array([0, 1, 2])

In [109]:
from pandas.io.pytables import HDFStore

In [110]:
data1=pd.read_csv('newcsv2.csv').to_hdf('lab.hdf5',key='data')
data1

In [111]:
long=pd.read_csv('15.csv')
data2

   1         color             item             value  Unnamed: 4
0  2         white          ball             0.091438         NaN
1  0         white       pen                 0.495049         NaN
2  2        white         mug                0.956225         NaN
3  4       red             ball              0.394441         NaN
4  3      red             pen                0.501640         NaN
5  5     red            mug                  0.561832         NaN
6  6    black        ball                    0.879022         NaN
7  7   black         pen                     0.610975         NaN
8  8  black            mug                   0.093324         NaN

In [114]:
x = np.array([-2, -1, 0, 1, 2])
y = np.array([4, 1, 3, 2, 0])
correlation = np.corrcoef(x,y)
covariance=np.cov(x,y)
print('covariance',covariance)
print('correlation',correlation)

covariance [[ 2.5  -1.75]
 [-1.75  2.5 ]]
correlation [[ 1.  -0.7]
 [-0.7  1. ]]

In [117]:
a=np.arange(0,9).reshape((3,3))
b=np.arange(10,19).reshape((3,3))
a

array([[0, 1, 2],
       [3, 4, 5],
       [6, 7, 8]])

In [118]:
b

array([[10, 11, 12],
       [13, 14, 15],
       [16, 17, 18]])

In [120]:
a+b

array([[10, 12, 14],
       [16, 18, 20],
       [22, 24, 26]])

In [121]:
a-b

array([[-10, -10, -10],
       [-10, -10, -10],
       [-10, -10, -10]])

In [122]:
a*b

array([[  0,  11,  24],
       [ 39,  56,  75],
       [ 96, 119, 144]])

In [123]:
a.dot(b)

array([[ 45,  48,  51],
       [162, 174, 186],
       [279, 300, 321]])

In [125]:
sum(a,b)

array([[19, 23, 27],
       [22, 26, 30],
       [25, 29, 33]])

In [127]:
a+=1
a

array([[ 2,  3,  4],
       [ 5,  6,  7],
       [ 8,  9, 10]])

In [128]:
a-=1
a

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [132]:
group=pd.read_csv('15b.csv')
group

    color     object   price1   price2
0   white     Pencil     4.20     4.75
1    red        Pen      5.56     4.12
2   green       Pen      2.75     1.60
3     red   ashtray      0.56     0.75
4  green      Pencil     1.30     3.15

In [140]:
group1=group['price1'].groupby(group['color'])
group1

KeyError: 'price1'